<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org" xmlns-layout="http://www.ulteaq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

    <div layout:replace="~{layout/navbar}">

    </div>
    

    <div class="container my-3" layout:fragment="container">
        
        
    </div>
    
    <script th:src="@{/js/bootstrap.bundle.min/js}"></script>
</body>
</html>